* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
.blur {
  filter: blur(1.5rem);
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 8vh 2vh 8vh;
  height: 5vh;
  padding: 10vh;
  position: relative;
}
.head h1 {
  color: white;
  font-weight: bolder;
  font-size: 48px;
}
.head span {
  font-weight: 50;
}
.additem {
  border-radius: 20px;
  padding: 1vh 1vw;
  box-sizing: border-box;
  position: absolute;
  top: 5vh;
  right: 5vw;
  font-size: 33px;
  background-image: linear-gradient(270deg, gray, white);
  color: black;
  font-style: oblique;
  cursor: pointer;
}
.fa-circle-plus {
  font-size: 34px;
  /* background-color:rgba(49, 133, 222, 0.842); */
  color: rgb(52, 78, 105);
}
.navbarhide {
  visibility: hidden;
}
.navbarvisible {
  visibility: visible;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  bottom: 15vh;
}
.navbar .back {
  position: relative;
  left: 25%;
}
.navbar .back h2 {
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.navbar .plusbtn {
  position: relative;
  right: 20%;
}
#navbarhead {
  color: white;
  font-size: 32px;
}
.navbar .back a {
  color: white;
  font-size: 24px;
}
.navbar .plusbtn {
  color: white;
  font-size: 24px;
  font-weight: bold;
  background-color: aqua;
  width: 18px;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
}

/* middle section (add card)*/
.flex_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  width: 90vw;
  margin: 0 8vh 2vh 18vh;
  position: relative;
}
.box div {
  width: 320px;
  height: 50vh;
  background-color: white;
  border: 8px solid red;
  margin-bottom: 5vh;
  position: relative;
}

ul {
  position: relative;
  top: 6vh;
  left: 6vw;
  font-size: 20px;
}
li {
  margin-bottom: 2vh;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
.visiblecard {
  visibility: visible;
}
/* ADD ITEM PAGE */

.main-container_itempage {
  filter: blur(1.5rem);
}
/* popup section */
.add_new_list {
  position: fixed;
  left: 36%;
  top: 30%;
  height: 30vh;
  width: 30vw;
  background-color: white;
  border-radius: 5vh;
}

.newlist-content {
  position: relative;
  top: 25%;
  left: 20%;
  width: fit-content;
}
.newlist-content input {
  width: 18vw;
  height: 1vh;
  border-radius: 2vh;
  padding: 2vh;
  margin-bottom: 4vh;
}
.newlist-content h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 1vh;
}
.newlist-content button {
  width: 6vw;
  height: 4vh;
  border-radius: 1vh;
  cursor: pointer;
  margin-left: 6vh;
}
.hide {
  display: none;
}
.visible {
  visibility: hidden;
}
.position {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  left: 35%;
}

/* card button */
.flex_container div h1 {
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}
.flex_container div .deleteBtn {
  position: absolute;
  top: 85%;
  left: 60%;
  width: 6vw;
  height: 4vh;
  margin-left: 1vw;
  border-radius: 2vh;
}
.flex_container div .add-list {
  position: absolute;
  top: 85%;
  left: 25%;
  width: 6vw;
  height: 4vh;
  margin-left: 1vw;
  border-radius: 2vh;
}

/* list item */
.add_new_item {
  position: fixed;
  left: 36%;
  top: 30%;
  height: 30vh;
  width: 30vw;
  background-color: white;
  border-radius: 5vh;
}

.newlist-content {
  position: relative;
  top: 25%;
  left: 20%;
  width: fit-content;
}
.newlist-content input {
  width: 18vw;
  height: 1vh;
  border-radius: 2vh;
  padding: 2vh;
  margin-bottom: 4vh;
}
.newlist-content h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 1vh;
}
.newlist-content button {
  width: 6vw;
  height: 4vh;
  border-radius: 1vh;
  cursor: pointer;
  margin-left: 6vh;
}

/* center the card */
